<h1>SEARCH</h1>

<form action="/search-result" method="get">
  <label for="keyword-input"> Joke Keyword</label>
  <input type="search" id="keyword-input" name="searchTerm">
  <br>
  <br>
  <button>SEARCH NOW</button>
</form>
